body {

    background-color: #222;
}

.navlinks {

    color: 'white';
    text-decoration: 'none';
}

.app {

    z-index: 999;
}



@media only screen and (max-width: '600px') {
    
    html {
        font-size: 70%;
    }
}