body {

    background-color: #222;
}

.navlinks {

    color: 'white';
    text-decoration: 'none';
}

.banner-img {

    width: 90%;
}

.section-title {

    position: relative;
}

.section-title::after {

    content: "";
    display: block;
    width: 100%;
    top: 110%;
    height: 2px;
    position: absolute;
    text-align: center;
    background-color: #FE915E;
}


@media only screen and (max-width: 600px) {
    
    html {
        font-size: 60%;
    }

    .banner-img {

        width: 60%;
    }
}

@media only screen and (max-width: 992px) {
    
    html {
        font-size: 75%;
    }

    .banner-img {

        width: 70%;
    }
}